<!DOCTYPE html>
<html lang="fr" xmlns:"http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
<p>Cher/Chère {{name}},</p>
<br/>
<p>Vous avez demandé à réinitialiser le mot de passe de votre espace sophrologie sur le site {{appName}}
</p>
<p>Vous pouvez maintenant valider cette demande en cliquant sur le lien ci-dessous</p>
<p>{{url}}</p>
<br/>
<p>Vous recevrez alors un deuxième mail qui vous confirmera la réussite du changement de mot de passe</p>
<br/>
<br/>
<p><i>Si vous n'êtes pas à l'origine de cette demande, merci de prévenir l'équipe de {{appName}} sur l'adresse suivante</i></p>
<p><b>{{appMail}}</b></p>
<br/>
<br/>
<p>A bientôt</p>
<p>L'équipe {{appName}}</p>
</body>