<div layout="row" layout-align="start center">
    <div class="progress {{outterClass}} {{valueClass.outter}}"></div>
    <md-progress-linear md-mode="determinate"
                        class="{{valueClass.inner}} {{innerClass}}"
                        role="progressbar" aria-valuenow="{{value}}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        ng-style="{width : ( value + '%')}"
                        style="width: 100%">
    </md-progress-linear>
    <span flex></span>
    <span class="sr-only md-subhead">score : {{value}}</span>
</div>