<div ng-controller="HeaderController as vm">
    <md-toolbar class="md-primary md-hue-2">
        <div class="md-toolbar-tools">
            <md-button aria-label="sidenav" ng-click="openMenu()" class="md-icon-button" hide-gt-md>
                <md-icon md-svg-icon="navigation:ic_menu_24px" style="fill: #EDE7F6"></md-icon>
            </md-button>
            <div layout="row" flex class="fill-height">
                <h2 class="md-breadcrumb">
                    <span ng-if="menuSidenav.currentPage.name !== menuSidenav.currentSection.name">
                        <span hide-xs>{{ menuSidenav.currentSection.name }}</span>
                        <span hide-xs class="bds-menu--separator-icon" style="transform: translate3d(0, 1px, 0)">
                            <span class="md-visually-hidden">-</span>
                            <md-icon aria-hidden="true" md-svg-icon="navigation:ic_chevron_right_24px" style="margin-top: -2px;"></md-icon>
                        </span>
                    </span>
                    <span class="md-breadcrumb--page">{{ menuSidenav.currentPage | humanizeDoc }}</span>
                </h2>
                <span flex></span>
                <div layout="row">
                    <span ng-bind="vm.authentication.user.displayName"></span>
                    <md-menu md-position-mode="target-right target">
                        <md-button class="md-icon-button" aria-label="signin" ng-click="$mdMenu.open()">
                            <md-icon md-svg-icon="social:ic_person_24px" ng-class="{'bds-icon--accent' : isDisabled}"></md-icon>
                        </md-button>
                        <md-menu-content width="4" class="bds-accountMenu--settings">
                            <md-menu-item ng-repeat="item in vm.accountMenu.items" ui-sref-active="active" ng-if="!isDisabled">
                                <md-button ng-click="" ng-disabled="isDisabled" aria-label="menu utilisateur">
                                    <div layout="row" flex>
                                        <p flex ui-sref="{{ item.state }}" class="bds-accountMenu--item">{{ item.title }}</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item ui-sref-active="active">
                                <md-button ng-click="" ng-disabled="isDisabled" aria-label="prendre rdv">
                                    <p flex ui-sref="rdv" class="bds-accountMenu--item">Prendre rendez-vous</p>
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item ui-sref-active="active" ng-hide="vm.authentication.user">
                                <md-button ng-click="" aria-label="signin">
                                    <p flex ui-sref="authentication.signin" class="bds-accountMenu--item">Se connecter</p>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-hide="!vm.authentication.user">
                                <md-button ng-click="" aria-label="signout">
                                    <a flex href="/api/auth/signout" target="_self" class="bds-accountMenu--item">Se déconnecter</a>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>