<div layout="row" style="height: 20px;"></div>
<h3>Ou connectez-vous via votre adresse email</h3>

<div flex="100" layout-align="center center" layout-padding md-whiteframe="2" style="background-color: white">
    <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" novalidate autocomplete="off">
        <div layout="row" layout-xs="column">
            
            <md-input-container class="md-icon-float md-block" flex="50" flex-xs="100">
                <md-icon md-svg-icon="social:ic_person_24px" class="md-primary"></md-icon>
                <input ng-model="vm.credentials.firstName" type="text" placeholder="Prénom" id="firstName" name="firstName" lowercase required/>
                <div ng-messages="vm.userForm.firstName.$error" role="alert">
                    <p ng-message="required" class="error-text">Champs requis</p>
                </div>
            </md-input-container>
            
            <md-input-container class="md-icon-float md-block" flex="50" flex-xs="100">
                <md-icon md-svg-icon="social:ic_person_24px" class="md-primary"></md-icon>
                <input ng-model="vm.credentials.lastName" type="text" placeholder="Nom" id="lastName" name="lastName" lowercase required />
                <div ng-messages="vm.userForm.lastName.$error" role="alert">
                    <p ng-message="required" class="error-text">Champs requis</p>
                </div>
            </md-input-container>
        </div>
        
        <md-input-container class="md-icon-float md-block">
            <md-icon md-svg-icon="content:ic_send_24px" class="md-primary"></md-icon>
            <input ng-model="vm.credentials.email" ng-pattern="/^.+@.+\..+$/" type="email" placeholder="Email" id="email" name="email" lowercase required minlength="10"/>
            <div ng-messages="vm.userForm.email.$error" role="alert">
                <div ng-message-exp="['required', 'pattern', 'minlength']">L'adresse email est requise, doit faire au minimum 10 caractères et son format doit être correct</div>
            </div>
        </md-input-container>
        
        <md-input-container class="md-icon-float md-block">
            <md-icon md-svg-icon="social:ic_person_24px" class="md-primary"></md-icon>
            <input ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex" type="text" placeholder="Username" id="username" name="username" lowercase required />
            <div ng-messages="vm.userForm.username.$error" role="alert">
                <div ng-message="required">Champs requis</div>
                <div ng-message="pattern">Saisissez un nom d'utilisateur valide : au moins 3 caractères, pas de noms interdits, caractères "_-.", pas de points(.) consécutifs, ne doit
                    pas commencer ou se terminer par un (.), lettres a-z, chiffres 0-9
                </div>
            </div>
        </md-input-container>
        
        <div layout="row" layout-align=" center center">
            <md-input-container md-no-float class="md-block" flex="100">
                <md-icon md-svg-icon="action:ic_lock_24px" class="md-primary"></md-icon>
                <input class="form-control" ng-model="vm.credentials.password" type="password" placeholder="Password" id="password" name="password" password-strength-indicator password-validator required/>
                <div ng-messages="vm.userForm.password.$error" role="alert">
                    <div ng-message="required">Champs requis</div>
                    <div ng-repeat="passwordError in passwordErrors">
                        <div ng-show="vm.userForm.password.$error.requirements">{{ passwordError }}</div>
                    </div>
                </div>
            </md-input-container>
            <!--<div flex="50" layout-align="star center" layout-padding>
                
            </div>-->
        </div>
        
        
        
        
        
        
        
            
        <div layout="row" layout-align="start center" ui-sref-active="active">
            <md-button type="submit" class="md-raised md-primary">Créer son compte</md-button>
            <md-button class="md-raised md-warn" type="reset" ng-click="">Annulez</md-button>
        </div>
    </form>
</div>